<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated rationale -->
      <package
            uri="http://rationale/1.0"
            class="org.architectural.rationale.RationalePackage"
            genModel="model/rationale.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.extension_parser">
      <!-- @generated rationale -->
      <parser
            type="rationale"
            class="org.architectural.rationale.util.RationaleResourceFactoryImpl"/>
   </extension>
</plugin>
